body {
  font-family: Arial;
  text-align: center;
  background: #f0f8ff;
}

#juego {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.circulo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 15px;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s, box-shadow 0.3s;
}

.circulo:active {
  transform: scale(1.2);
  box-shadow: 0 0 25px gold;
}

#puntaje, #nivel {
  font-size: 20px;
  margin: 5px;
}
