body {
  font-family: Arial;
  text-align: center;
  background: #f0f8ff;
}

.juego {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.circulo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 15px;
  cursor: pointer;
  display: inline-block;
}

.circulo:active {
  transform: scale(1.2);
  box-shadow: 0 0 25px gold;
}

.barra-tiempo {
  width: 80%;
  height: 15px;
  background: #ddd;
  border-radius: 10px;
  margin: 10px auto;
}

#barra-progreso {
  height: 100%;
  background: #4caf50;
  width: 100%;
}
